<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.feriantes4dawin.feriavirtualmovil">
    <!-- Permite acceder a archivos del teléfono -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- Permite acceder a internet, y utilzar características avanzadas! -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".FeriaVirtualApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/logo_feriavirtual_compacto"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FeriaVirtualMovil"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FeriaVirtualMovil.NoActionBar" />
        <activity
            android:name=".ui.sales.SaleDetailActivity"
            android:label="@string/sale_detail_act_title"
            android:parentActivityName=".ui.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.auction.AuctionSaleActivity"
            android:label="@string/auact_title"
            android:parentActivityName=".ui.sales.SaleDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.auction.PushProductorActivity"
            android:label="@string/ppbd_push"
            android:screenOrientation="portrait"
            android:parentActivityName=".ui.sales.SaleDetailActivity"/>

        <activity
            android:name=".ui.auction.PushTransportistaActivity"
            android:label="@string/ppbd_push"
            android:screenOrientation="portrait"
            android:parentActivityName=".ui.sales.SaleDetailActivity"/>


        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/sact_title"
            android:parentActivityName=".ui.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:autoRemoveFromRecents="true"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FeriaVirtualMovil.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>